In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup 
import re
import copy

In [2]:
url = 'https://ru.wikipedia.org/wiki/Список_городов_России_с_населением_более_100_тысяч_жителей'

In [3]:
page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.text, 'html.parser')

In [34]:
period = table.findAll('th')[5:]

In [35]:
period

[<th data-sort-type="number"><span style="font-size:85%;">1897</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">1926</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">1939</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">1959</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">1970</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">1979</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">1989</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2002</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2010</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2011</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2012</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2013</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2014</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2015</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2016</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2017</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2018</span></th>,
 <th data-sort-type="number"><span style="font-size:85%;">2019</span>
 </th>]

In [39]:
clean_periods = []
for elem in period:
    clean_period = str(elem).split('>')[2].split('<')[0]
    clean_periods.append(clean_period)

In [40]:
clean_periods

['1897',
 '1926',
 '1939',
 '1959',
 '1970',
 '1979',
 '1989',
 '2002',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [41]:
len(clean_periods)

18

In [93]:
raw_data = soup.find('table',{'class':'wikitable sortable'})

In [92]:
#table

In [42]:
i = 3
j = i + len(clean_periods)

In [94]:
cities = raw_data.findAll('td')[2::j]

In [62]:
#cities

In [95]:
clean_cities = []
for city in cities:
    city2 = str(city).replace('<b>','')
    clean_city = city2.split('>')[2].split('<')[0].strip()
    clean_cities.append(clean_city)

In [86]:
#clean_cities

In [96]:
pop = raw_data.findAll('td')[i:j]

In [97]:
pop

[<td>1039</td>,
 <td>2080</td>,
 <td>4609</td>,
 <td>6133</td>,
 <td>7194</td>,
 <td>8057</td>,
 <td>8878</td>,
 <td>10126</td>,
 <td>11504</td>,
 <td>11541</td>,
 <td>11613</td>,
 <td>11980</td>,
 <td>12108</td>,
 <td>12198</td>,
 <td>12330</td>,
 <td>12381</td>,
 <td>12506</td>,
 <td>12616
 </td>]

In [98]:
clean_population = []
for elem in pop:
    population = str(elem).split('>')[1].split('<')[0].strip()
    clean_population.append(population)

In [99]:
clean_population

['1039',
 '2080',
 '4609',
 '6133',
 '7194',
 '8057',
 '8878',
 '10126',
 '11504',
 '11541',
 '11613',
 '11980',
 '12108',
 '12198',
 '12330',
 '12381',
 '12506',
 '12616']

In [143]:
i = 3
j = i + len(clean_periods)

table = []
for city in clean_cities:
    clean_population = []
    temp = []
    
    temp_pop = raw_data.findAll('td')[i:j]

    for elem in temp_pop:
        raw_population = str(elem).replace('<span style="font-size:85%;">','')
        raw_population = raw_population.replace('—','0')
        raw_population = raw_population.replace('…','0')
        population = raw_population.split('>')[1].split('<')[0].strip()
        clean_population.append(population)
    clean_population.insert(0, city)
    temp = tuple(clean_population)
    table.append(temp)
    i += len(clean_periods) + 3
    j += len(clean_periods) + 3

In [144]:
#table

In [145]:
df = pd.DataFrame(table)

real_columns = clean_periods.copy()
real_columns.insert(0, 'City')
df.columns = real_columns

In [149]:
df.head()

,City,1897,1926,1939,1959,1970,1979,1989,2002,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Москва,1039,2080,4609,6133,7194,8057,8878,10126,11504,11541,11613,11980,12108,12198,12330,12381,12506,12616
1,Санкт-Петербург,1265,1737,3431,3390,4033,4569,4989,4661,4880,4899,4953,5028,5132,5192,5226,5282,5352,5384
2,Новосибирск,8,120,404,885,1161,1309,1420,1426,1474,1475,1499,1524,1548,1567,1584,1603,1613,1618
3,Екатеринбург,43,140,423,779,1025,1210,1296,1294,1350,1353,1378,1396,1412,1428,1444,1456,1469,1483
4,Нижний Новгород,90,222,644,941,1170,1342,1400,1311,1251,1252,1255,1260,1264,1268,1267,1262,1259,1253

In [148]:
file_name = 'cities_population.xlsx'
writer = pd.ExcelWriter(file_name, engine='xlsxwriter')
df.to_excel(writer, sheet_name='Cities', index=False)
writer.save()

## WIKI CITIES POPULATION

In [7]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup 
import re
import copy

# БИБЛИОТЕКИ

url = 'https://ru.wikipedia.org/wiki/Список_городов_России_с_населением_более_100_тысяч_жителей'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

# ПОЛУЧАЕМ СТРАНИЦУ

raw_data = soup.find('table',{'class':'wikitable sortable'})

period = raw_data.findAll('th')[5:]
clean_periods = []
for elem in period:
    clean_period = str(elem).split('>')[2].split('<')[0]
    clean_periods.append(clean_period)
    
# ПОЛУЧАЕМ ПЕРИОДЫ (ГОДА)

i = 3
j = i + len(clean_periods)

cities = raw_data.findAll('td')[2::j]
clean_cities = []
for city in cities:
    city2 = str(city).replace('<b>','')
    clean_city = city2.split('>')[2].split('<')[0].strip()
    clean_cities.append(clean_city)

    
# ПОЛУЧАЕМ СПИСОК ГОРОДОВ

table = []
for city in clean_cities:
    clean_population = []
    temp = []
    
    temp_pop = raw_data.findAll('td')[i:j]

    for elem in temp_pop:
        raw_population = str(elem).replace('<span style="font-size:85%;">','')
        raw_population = raw_population.replace('—','0')
        raw_population = raw_population.replace('…','0')
        raw_population = raw_population.replace(',','.')
        population = int(float(raw_population.split('>')[1].split('<')[0].strip()) * 1000)
        clean_population.append(population)
    clean_population.insert(0, city)
    temp = tuple(clean_population)
    table.append(temp)
    i += len(clean_periods) + 3
    j += len(clean_periods) + 3

# СОЗДАЕМ КОРТЕЖ ВИДА ГОРОД + НАСЕЛЕНИЕ ПО ГОДАМ
    
df2 = pd.DataFrame(table)

real_columns = clean_periods.copy()
real_columns.insert(0, 'City')
df2.columns = real_columns

# СОЗДАЕМ ТАБЛИЦУ

In [8]:
df2.head()

,City,1897,1926,1939,1959,1970,1979,1989,2002,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Москва,1039000,2080000,4609000,6133000,7194000,8057000,8878000,10126000,11504000,11541000,11613000,11980000,12108000,12198000,12330000,12381000,12506000,12616000
1,Санкт-Петербург,1265000,1737000,3431000,3390000,4033000,4569000,4989000,4661000,4880000,4899000,4953000,5028000,5132000,5192000,5226000,5282000,5352000,5384000
2,Новосибирск,8000,120000,404000,885000,1161000,1309000,1420000,1426000,1474000,1475000,1499000,1524000,1548000,1567000,1584000,1603000,1613000,1618000
3,Екатеринбург,43000,140000,423000,779000,1025000,1210000,1296000,1294000,1350000,1353000,1378000,1396000,1412000,1428000,1444000,1456000,1469000,1483000
4,Нижний Новгород,90000,222000,644000,941000,1170000,1342000,1400000,1311000,1251000,1252000,1255000,1260000,1264000,1268000,1267000,1262000,1259000,1253000

In [10]:
file_name = 'Urban_population.xlsx'
writer = pd.ExcelWriter(file_name, engine='xlsxwriter')
df2.to_excel(writer, sheet_name='Cities', index=False)
writer.save()